.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
}

.nav > li {
    position: relative;
    display: block;
}

.nav > li > a {
    position: relative;
    display: block;
}

.navbar-custom .nav li a {
    // color: white;
    padding: 15px 5px;
}

.navbar-nav {
    margin: 3px;
}

.navbar-nav > li {
    float: left;
}

.navbar-right {
    float: right !important;
    margin-right: 80px;
}

.search {
    margin-right: 380px;
}

